<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Chaqueta North Face</h1>
					</header>

					<img src="https://cdn-3.expansion.mx/dims4/default/4847c74/2147483647/strip/true/crop/1200x773+0+0/resize/1200x773!/format/webp/quality/60/?url=https%3A%2F%2Fcdn-3.expansion.mx%2Fc4%2Fc5%2F9819b12444b685e442154dd764a3%2Fnorth-face-chamarra.jpg" alt="reloj Fossil plateado" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Chaqueta North Face</h2>
					</header>
					<p>Las chaquetas North Face son el epítome de la funcionalidad y el estilo. Cada chaqueta 
                        North Face está diseñada con un enfoque en la calidad, la comodidad y la durabilidad. 
                        Las chaquetas North Face vienen en una variedad de estilos, desde chaquetas ligeras hasta
                        parkas aisladas y chaquetas de plumón.Una característica destacada de las chaquetas North 
                        Face es su construcción de alta calidad. Cada chaqueta North Face está hecha con materiales 
                        de primera calidad, lo que garantiza un ajuste cómodo y una larga durabilidad.Además, 
                        las chaquetas North Face ofrecen una excelente protección contra los elementos. Con 
                        tecnologías como FUTURELIGHT y DryVent, estas chaquetas proporcionan una impermeabilización 
                        y transpirabilidad excepcionales, lo que las hace perfectas para cualquier actividad al aire 
                        libre.
                    </p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 5,000</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>North Face</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
     <div class="item">
      <span>&copy; 2024 Moises Elvir</span>
     </div>
     <div class="item">
      <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
     </div>
     <div class="item">
      <a href="../../collaborators.html" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        groups_2
       </span>&nbsp;
       Colaboradores </a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        arrow_upward
       </span>
       Subir</a>
     </div>
    </footer>

			</div>
		</div>
	</div>
</body>

</html>