<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Chaqueta Polo Vintage</h1>
					</header>

					<img src="../../images/jacket/2020110066_A.jpg" alt="Chaqueta Polo" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Chaqueta Polo Vintage 90s</h2>
					</header>
						<p>La chaqueta vintage Polo Ralph Lauren Denim Jacket, tamaño grande, fabricada en Estados Unidos, es una pieza de moda
						clásica y atemporal que encapsula el estilo icónico de la marca Polo Ralph Lauren. Confeccionada con denim de alta
						calidad, esta chaqueta ofrece durabilidad y estilo sin esfuerzo.
							<br><br>
						El diseño presenta detalles característicos de la marca, como el emblemático logo de Polo Ralph Lauren y acabados de
						calidad artesanal. El tamaño grande asegura un ajuste cómodo y versátil para una amplia variedad de estilos y figuras.
							<br><br>
						Esta chaqueta denim es una opción ideal para aquellos que buscan añadir un toque de estilo vintage y americano a su
						guardarropa. Ya sea para un look casual de fin de semana o para complementar un conjunto más sofisticado, la chaqueta
						Polo Ralph Lauren Denim Jacket es una elección clásica que nunca pasa de moda..
						</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 3130.00</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Polo Ralph Lauren</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Francisco Paz</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>