<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../Pago-tarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Chaqueta White Hills Cuero </h1>
					</header>

					<img src="../../images/jacket/2020110066_AB.jpg" alt="Chaqueta Polo" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Chaqueta White Hills Cuero</h2>
					</header>
						<p>La chaqueta White Hills Vintage Genuine Cowhide Leather Jacket Men es una pieza de moda clásica y atemporal que combina
						estilo y durabilidad. Fabricada con cuero genuino de alta calidad, esta chaqueta ofrece una apariencia elegante y una
						sensación de lujo.
							<br><br>
						El diseño presenta un estilo vintage con detalles cuidadosamente elaborados, como costuras decorativas y cierres
						metálicos, que añaden un toque de autenticidad y estilo retro. La calidad del cuero garantiza una chaqueta resistente y
						duradera que mejora con el tiempo, proporcionando un estilo duradero y versátil.
							<br><br>
						Con su diseño atemporal y su artesanía excepcional, la chaqueta White Hills es una opción ideal para hombres que buscan
						una prenda de abrigo que combine estilo clásico con calidad duradera. Ya sea para un look casual o para ocasiones más
						formales, esta chaqueta añadirá un toque de sofisticación a cualquier conjunto.
						</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 10,000.00</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>White Hills</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Francisco Paz</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>