<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Chaqueta Psycho Bunny</h1>
					</header>

					<img src="../../images/jacket/arias_chaqueta1.jpeg" alt="" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Chaqueta Psycho Bunny</h2>
					</header>
					<p>CHAQUETA BOMBER VARSITY ROBBINS PARA HOMBRE - B6J524Z1OWAbrir modo de zoom para la imagen 13

						muestra de color
						Abrir modo de zoom para la imagen 14
						Chaqueta Bomber Universitaria Robbins Para Hombre
						$495.00
						Calificación de 5.0 estrellas
						13 reseñas
						Seleccionar el color: Negro
						Nombre de la muestra de color: 001 NEGROEnlace al nombre de la muestra de color: 001 NEGRO
						Selecciona el tamaño:
						CHAQUETA BOMBER VARSITY ROBBINS PARA HOMBRE - B6J524Z1OW
						pulgadascm
						TAMAÑO ESTÁNDAR NUESTRO TAMAÑO PECHO LONGITUD LONGITUD DE LA MANGA
						XXS 2 19,5" 23,75" 32,5"
						XS 3 20,5" 24,75" 33,5"
						S 4 21,5" 25,75" 34,5"
						METRO 5 22,5" 26,75" 35,5"
						L 6 23,5" 27,75" 36,5"
						SG 7 24,5" 28,75" 37,5"
						XL 8 25,5" 29,75" 38,5"
						XL 9 26,5" 30,75" 39,5"


						Guia de tallas
						XS
						S
						METRO
						l
						SG
						XL

						AÑADIR A LA CESTA

						LISTA DE DESEOS

						Detalles
						La chaqueta universitaria entallada Robbins de cuero y mezcla de lana para hombre está cubierta
						con chenilla de inspiración prep y parches bordados. El suave forro de satén ofrece un uso
						cómodo, mientras que la combinación de colores de la carcasa hace que sea fácil de combinar y lo
						último en estilo universitario de lujo. Llavero tipo cordón extraíble incluido como lengüeta.

						80% Lana, 20% Poliamida
						Hecho en Portugal
						Corte regular
						Cuero granulado, mezcla de lana afieltrada
						Chenilla y parches bordados
						Cierre con botón de presión Forro
						de satén
						Chaqueta de universidad
						Chaqueta forrada
						Mangas en cuero, cuerpo en mezcla de lana
						Talla fiel
					</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 10,500.00</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Psycho Bunny</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Jose Arias</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>