<!DOCTYPE HTML>
<html lang="es">

<head>
    <title>Ofertas y más</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

    <div id="wrapper">

        <div id="main">
            <div class="inner">

                <header id="header">
                    <a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
                    <ul class="icons">
                        <li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
                        <li><a href="../../contact.html"><span>Contacto</span></a></li>
                        <li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
                        <li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
                         <li><a href="../..pagos-tarjeta.html"><span>Pagos con Tarjeta</span></a></li>
                    </ul>
                </header>

                <section>
                    <header class="main">
                        <h1>Cartera Dior</h1>
                    </header>

                    <img src="../../images\women's purses\2019120120.jpg" alt="Cartera Dior" class="image-main">

                    <hr class="major" />

                    <header class="major">
                        <h2>Cartera Dior </h2>
                    </header>
                    <p>La cartera Dior para mujer es una declaración de elegancia y estilo. Cada diseño de Dior está meticulosamente elaborado con los mejores materiales y detalles exquisitos que reflejan la artesanía de lujo de la marca. Las carteras Dior son conocidas por su sofisticación atemporal y su capacidad para complementar cualquier atuendo con gracia y estilo.
                        <br><br>
                        Desde diseños clásicos hasta modelos más modernos, Dior ofrece una amplia gama de opciones para satisfacer tus gustos y necesidades. Ya sea que busques una cartera para el día a día o para ocasiones especiales, Dior tiene el modelo perfecto para ti.
                        <br><br>
                        Además de su elegancia visual, las carteras Dior también son prácticas y funcionales, con múltiples compartimentos y un diseño ergonómico que las hace cómodas de llevar.
                        <br><br>
                        Con precios competitivos y un legado de excelencia en moda y accesorios de lujo, una cartera Dior es una inversión en estilo y calidad que perdurará en el tiempo. ¡Hazte con tu cartera Dior hoy mismo y lleva contigo un pedazo de elegancia francesa!</p>

                    <br>

                    <div class="raiting">
                        <h3>Valoración</h3>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>

                    <article class="detail">
                        <h3>Precio: </h3>
                        <p>L. 5,000</p>
                    </article>

                    <article class="detail">
                        <h3>Marca: </h3>
                        <p>Dior</p>
                    </article>

                    <article class="detail">
                        <h3>Estado: </h3>
                        <p>Nuevo</p>
                    </article>

                </section>

                <footer id="footer">
                    <div class="item">
                        <span>&copy; 2024 Katerine Solano</span>
                    </div>
                    <div class="item">
                        <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
                    </div>
                    <div class="item">
                        <a href="../../collaborators.html" class="d-flex justify-content-center">
                            <span class="material-symbols-outlined">
                                groups_2
                            </span>&nbsp;
                            Colaboradores </a>&nbsp;&nbsp;&nbsp;
                        <a href="#" class="d-flex justify-content-center">
                            <span class="material-symbols-outlined">
                                arrow_upward
                            </span>
                            Subir</a>
                    </div>
                </footer>

            </div>
        </div>
    </div>
</body>

</html>