<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Lentes Ray Ban</h1>
					</header>

					<img src="../../images/glasses/2019110295LR.webp" alt="reloj Fossil plateado" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Lentes Ray Ban</h2>
					</header>
					<p>Los lentes Ray-Ban son un ícono de estilo y calidad. Cada par de lentes Ray-Ban está diseñado 
                        con un enfoque en la comodidad, la durabilidad y, por supuesto, el estilo1. Los lentes Ray-Ban
                        vienen en una variedad de estilos y colores, desde los clásicos aviadores hasta los modernos 
                        wayfarer1.Una característica destacada de los lentes Ray-Ban es su construcción de alta
                        calidad. Cada par de lentes Ray-Ban está hecho con materiales de primera calidad, lo que 
                        garantiza un ajuste cómodo y una larga durabilidad1.Además, los lentes Ray-Ban ofrecen una
                         excelente protección contra los rayos UV, lo que los hace perfectos para cualquier actividad
                         al aire libre1. Con lentes polarizados disponibles en ciertos estilos, puedes estar seguro de 
                         que tus ojos estarán protegidos sin importar las condiciones de luz1 Así que, si estás 
                         buscando unos lentes que sean versátiles, duraderos y siempre a la moda, no busques más 
                         allá de los lentes Ray-Ban. Ya sea que estés yendo a la playa, a una caminata o 
                         simplemente buscando el complemento perfecto para tu atuendo casual, unos lentes Ray-Ban 
                         son la elección perfecta para ti. ¡Hazte con tus lentes Ray-Ban hoy mismo
                    </p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 2,000</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Ray Ban</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
     <div class="item">
      <span>&copy; 2024 Moises Elvir</span>
     </div>
     <div class="item">
      <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
     </div>
     <div class="item">
      <a href="../../collaborators.html" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        groups_2
       </span>&nbsp;
       Colaboradores </a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        arrow_upward
       </span>
       Subir</a>
     </div>
    </footer>

			</div>
		</div>
	</div>
</body>

</html>