<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../Pago-tarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Lentes Burberry para Hombre</h1>
					</header>

					<img src="../../images/glasses/2020110066_A.jpg" alt="Lentes Burberry" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Lentes Burberry para Hombre Negro BE2340 Bolton</h2>
					</header>
						<p>Los lentes Burberry BE2340 Bolton son una expresión de elegancia y estilo británico icónico. Con su diseño clásico y
						sofisticado, estos lentes de montura completa ofrecen una combinación perfecta de moda y funcionalidad. Fabricados con
						materiales de alta calidad, proporcionan durabilidad y comodidad durante todo el día.
							<br><br>
						El modelo BE2340 presenta una montura rectangular moderna con detalles distintivos de Burberry, como el emblemático
						patrón de cuadros en las varillas. Estos lentes están disponibles en una variedad de colores y acabados, lo que permite
						a cada persona encontrar el estilo que se adapte a su personalidad y gusto.
							<br><br>
						Además de su atractivo estético, los lentes Burberry BE2340 Bolton también ofrecen una excelente protección visual.
						Pueden ser utilizados tanto para mejorar la visión como para complementar el estilo de vida de quien los use. Ya sea en
						el trabajo, en un evento social o en actividades al aire libre, estos lentes son una elección elegante y práctica para
						cualquier ocasión.
						</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 5000.00</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Burberry</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Francisco Paz</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>