<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../Pago-tarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Lentes Lacoste para Hombre</h1>
					</header>

					<img src="../../images/glasses/2020110066_AB.jpg" alt="Lentes Lacoste" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Lentes Lacoste para Hombre Lacoste L2767</h2>
					</header>
						<p>Los lentes Lacoste L2767 son una muestra de elegancia y estilo francés contemporáneo. Con su diseño refinado y detalles
						distintivos, estos lentes de montura completa son una elección sofisticada para aquellos que buscan un equilibrio entre
						moda y funcionalidad.
							<br><br>
						Fabricados con materiales de alta calidad, los L2767 ofrecen durabilidad y comodidad, mientras que su estilo atemporal
						los hace versátiles para cualquier ocasión. Presentan una montura rectangular con el icónico logo de Lacoste en las
						varillas, lo que añade un toque de sofisticación y autenticidad a la vez.
							<br><br>
						Ya sea para el trabajo, para una salida casual o para eventos más formales, los lentes Lacoste L2767 son una declaración
						de estilo que complementará cualquier conjunto con un toque de refinamiento y distinción.
						</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 5000.00</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Burberry</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Francisco Paz</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>