<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Gorra Nike</h1>
					</header>

					<img src="../../images/caps/2019110295.png" alt="reloj Fossil plateado" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Gorra Nike</h2>
					</header>
					<p>Las gorras Nike son el complemento perfecto para cualquier atuendo deportivo o casual. 
                        Cada gorra está diseñada con un enfoque en la calidad, la comodidad y el estilo12. 
                        Las gorras Nike vienen en una variedad de estilos y colores, desde gorras estructuradas 
                        hasta gorras sin estructura12. Una característica destacada de las gorras Nike es la 
                        tecnología Dri-FIT12. Las gorras Dri-FIT están diseñadas para mantener la cabeza seca y 
                        cómoda, incluso durante los entrenamientos más intensos12.Además, las gorras Nike están 
                        hechas con materiales de alta calidad, lo que garantiza un ajuste cómodo y durabilidad3. 
                        Con correas ajustables, aseguran un ajuste personalizado para todos los tamaños de cabeza3.
                        Así que, si estás buscando una gorra que sea versátil, duradera y siempre a la moda, no 
                        busques más allá de las gorras Nike. Ya sea que estés yendo al gimnasio, a una caminata o 
                        simplemente buscando el complemento perfecto para tu atuendo casual, una gorra Nike es la 
                        elección perfecta para ti. ¡Hazte con tu gorra Nike hoy mismo
                    </p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 700</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>NIke</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
     <div class="item">
      <span>&copy; 2024 Moises Elvir</span>
     </div>
     <div class="item">
      <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
     </div>
     <div class="item">
      <a href="../../collaborators.html" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        groups_2
       </span>&nbsp;
       Colaboradores </a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        arrow_upward
       </span>
       Subir</a>
     </div>
    </footer>

			</div>
		</div>
	</div>
</body>

</html>