<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Gorra F1</h1>
					</header>

					<img src="../../images/caps/2020110066_A.jpg" alt="Gorra F1" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Gorra F1 Red Bull</h2>
					</header>
						<p>La gorra trucker Red Bull Racing New Era Seasonal E-Frame es una expresión de estilo y pasión por el automovilismo.
						Diseñada en colaboración con New Era, esta gorra captura la esencia dinámica y deportiva del equipo Red Bull Racing.
							<br><br>
						Confeccionada con materiales de alta calidad, esta gorra combina una parte delantera estructurada con una malla trasera
						transpirable, ofreciendo comodidad y ventilación durante todo el día. El diseño presenta el icónico logo de Red Bull
						Racing bordado en la parte delantera, junto con detalles adicionales que reflejan la estética moderna y dinámica del
						equipo.
							<br><br>
						Ya sea para animar en las carreras o para lucir un estilo urbano y casual, la gorra Red Bull Racing New Era Seasonal
						E-Frame es una elección perfecta para los aficionados al automovilismo que buscan mostrar su apoyo con estilo.
						</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 800.00</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>New Era</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Francisco Paz</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>