<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1> Adidas</h1>
					</header>

					<img src="../../images/caps/arias_gorra_adidas2.jpeg" alt="" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Gorra Adidas para hombre</h2>
					</header>
					<p>Pon el toque que tu atuendo necesita con esta gorra béisbol adidas. Diseñada para los días
						calurosos, su tejido suave te protege de los rayos del sol. Luce un logo adidas Badge of Sport
						como protagonista en el frente. Tejido plano, 100% poliéster, Tacto suave y ligero, Gorra
						clásica ajustable, Protección UV 50 contra los rayos dañinos del sol, Banda acolchada para
						absorber el sudor, Corona y visera de curva mediana
					</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 2,000.00</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Adidas</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nueva</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Jose Arias</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>