<!DOCTYPE HTML>
<html lang="es">

<head>
    <title>Ofertas y más</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

    <div id="wrapper">

        <div id="main">
            <div class="inner">

                <header id="header">
                    <a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
                    <ul class="icons">
                        <li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
                        <li><a href="../../contact.html"><span>Contacto</span></a></li>
                        <li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
                        <li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
                        <li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
                    </ul>
                </header>

                <section>
                    <header class="main">
                        <h1>Fragancia Versace</h1>
                    </header>

                    <img src="../../images\Fragrance\2019120120.jpg" alt="Fragancia Versace" class="image-main">

                    <hr class="major" />

                    <header class="major">
                        <h2>Fragancia Versace</h2>
                    </header>
                    <p>La fragancia de Versace es una obra maestra olfativa que captura la esencia de la elegancia y el lujo italiano. Cada aroma de Versace es una expresión de sofisticación y distinción, diseñado para quienes buscan una experiencia sensorial única y memorable.
                        <br><br>
                        Con una amplia gama de fragancias, desde notas florales y frescas hasta aromas intensos y seductores, Versace ofrece opciones para cada ocasión y estilo personal. Cada fragancia está cuidadosamente elaborada con ingredientes de alta calidad y se presenta en envases elegantes que reflejan el diseño icónico de la marca.
                        <br><br>
                        Ya sea que prefieras una fragancia suave y sutil para el día a día o una fragancia intensa y seductora para ocasiones especiales, Versace tiene el perfume perfecto para ti.
                        <br><br>
                        Descubre el mundo de las fragancias de Versace y déjate llevar por un viaje de aromas exquisitos y envolventes. ¡Encuentra tu fragancia Versace ideal hoy mismo!</p>

                    <br>

                    <div class="rating">
                        <h3>Valoración</h3>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>

                    <article class="detail">
                        <h3>Precio: </h3>
                        <p>L. 3,000</p>
                    </article>

                    <article class="detail">
                        <h3>Marca: </h3>
                        <p>Versace</p>
                    </article>

                    <article class="detail">
                        <h3>Estado: </h3>
                        <p>Nuevo</p>
                    </article>

                </section>

                <footer id="footer">
                    <div class="item">
                        <span>&copy; 2024 Katerine Solano</span>
                    </div>
                    <div class="item">
                        <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
                    </div>
                    <div class="item">
                        <a href="../../collaborators.html" class="d-flex justify-content-center">
                            <span class="material-symbols-outlined">
                                groups_2
                            </span>&nbsp;
                            Colaboradores </a>&nbsp;&nbsp;&nbsp;
                        <a href="#" class="d-flex justify-content-center">
                            <span class="material-symbols-outlined">
                                arrow_upward
                            </span>
                            Subir</a>
                    </div>
                </footer>

            </div>
        </div>
    </div>
</body>

</html>