<!DOCTYPE HTML>
<html lang="es">

<head>
    <title>Ofertas y más</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

    <div id="wrapper">

        <div id="main">
            <div class="inner">

                <header id="header">
                    <a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
                    <ul class="icons">
                        <li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
                        <li><a href="../../contact.html"><span>Contacto</span></a></li>
                        <li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
                        <li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
                        <li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
                    </ul>
                </header>

                <section>
                    <header class="main">
                        <h1>Aretes Pandora </h1>
                    </header>

                    <img src="../..\images\Earrings\2019120120k.jpg" alt="Aretes Pandora para mujer" class="image-main">

                    <hr class="major" />

                    <header class="major">
                        <h2>Aretes Pandora para mujer</h2>
                    </header>
                    <p>Los aretes Pandora para mujer son una expresión de elegancia y estilo. Cada par de aretes está diseñado con detalles exquisitos y materiales de alta calidad que garantizan durabilidad y belleza. Los aretes Pandora vienen en una variedad de estilos, desde diseños clásicos hasta modernos, que se adaptan a cualquier ocasión y atuendo.
                        <br><br>
                        La marca Pandora es conocida por su artesanía impecable y la atención al detalle en cada pieza. Los aretes están hechos para destacar y complementar tu estilo personal, ya sea que busques un look casual o sofisticado.
                        <br><br>
                        Además, los aretes Pandora son cómodos de llevar gracias a su diseño ergonómico y liviano. Puedes usarlos todos los días o reservarlos para ocasiones especiales, siempre luciendo elegante y distinguida.
                        <br><br>
                        Con precios asequibles y una amplia gama de opciones, los aretes Pandora son la elección perfecta para añadir un toque de glamour y sofisticación a tu colección de joyas. ¡Hazte con tus aretes Pandora hoy mismo y brilla con estilo!
                    </p>

                    <br>

                    <div class="raiting">
                        <h3>Valoración</h3>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>

                    <article class="detail">
                        <h3>Precio: </h3>
                        <p>L. 1,500</p>
                    </article>

                    <article class="detail">
                        <h3>Marca: </h3>
                        <p>Pandora</p>
                    </article>

                    <article class="detail">
                        <h3>Estado: </h3>
                        <p>Nuevo</p>
                    </article>

                </section>

                <footer id="footer">
                    <div class="item">
                        <span>&copy; 2024 Katerine Solano</span>
                    </div>
                    <div class="item">
                        <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
                    </div>
                    <div class="item">
                        <a href="../../collaborators.html" class="d-flex justify-content-center">
                            <span class="material-symbols-outlined">
                                groups_2
                            </span>&nbsp;
                            Colaboradores </a>&nbsp;&nbsp;&nbsp;
                        <a href="#" class="d-flex justify-content-center">
                            <span class="material-symbols-outlined">
                                arrow_upward
                            </span>
                            Subir</a>
                    </div>
                </footer>

            </div>
        </div>
    </div>
</body>

</html>