<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>Ofertas y más</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

  <div id="wrapper">

    <div id="main">
      <div class="inner">

        <header id="header">
          <a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
          <ul class="icons">
            <li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
            <li><a href="../../contact.html"><span>Contacto</span></a></li>
            <li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
          </ul>
        </header>

        <section>
          <header class="main">
            <h1>Reloj Michael Kors - MK1234</h1>
          </header>

          <img src="C:\Users\DELL\Documents\GitHub\proyecto-clase-web-'1\images\watches\2019120120.jpg" alt="reloj Michael Kors Plateado" class="image-main">

          <hr class="major" />

          <header class="major">
            <h2>Reloj Michael Kors para Mujeres</h2>
          </header>
          <p>El reloj Michael Kors MK1234 es un elegante accesorio que combina estilo y funcionalidad para la mujer moderna.
            Presenta un diseño plateado brillante con incrustaciones de cristales en el bisel, que le dan un toque de
            sofisticación y glamour.</p>
          <br>
          <p>Su caja de acero inoxidable de 34 mm alberga un movimiento de cuarzo preciso, garantizando una hora exacta en todo
            momento. El dial plateado cuenta con marcadores horarios en números romanos y agujas luminosas para una fácil
            lectura.</p>
          <br>
          <p>El MK1234 es resistente al agua hasta 50 metros, lo que lo hace adecuado para un uso diario y ocasiones especiales.
            Con su correa de eslabones ajustable, este reloj se adapta cómodamente a cualquier muñeca, ofreciendo estilo y
            funcionalidad en un solo accesorio.</p>

          <br>

          <div class="raiting">
            <h3>Valoración</h3>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>

          <article class="detail">
            <h3>Precio: </h3>
            <p>L. 8,900</p>
          </article>

          <article class="detail">
            <h3>Marca: </h3>
            <p>Michael Kors</p>
          </article>

          <article class="detail">
            <h3>Estado: </h3>
            <p>Nuevo</p>
          </article>

        </section>

        <footer id="footer">
          <div class="item">
            <span>&copy; 2024 Katerine Solano</span>
          </div>
          <div class="item">
            <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
          </div>
          <div class="item">
            <a href="#">Subir</a>
          </div>
        </footer>

      </div>
    </div>
  </div>
</body>

</html>