<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>Ofertas y más</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

  <div id="wrapper">

    <div id="main">
      <div class="inner">

        <header id="header">
          <a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
          <ul class="icons">
            <li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
            <li><a href="../../contact.html"><span>Contacto</span></a></li>
            <li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
            <li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
          </ul>
        </header>

        <section>
          <header class="main">
            <h1>Apple Watch Series 7</h1>
          </header>

          <img src="../../images/watches/arias_smartwatch.jpeg" alt="" class="image-main">

          <hr class="major" />

          <header class="major">
            <h2>Apple Watch para Hombres</h2>
          </header>
          <p>El reloj inteligente de la marca Apple ha sido uno de los relojes mas vendidos y deseados por su diseño
            elegante y excepcional, con sus distintas adaptaciones de correas puede convertirse en un reloj adaptable
            tanto como para ocasiones elegantes o casuales.</p>
          <br>
          <p>El Apple Watch, presentado por el fabricante como Watch, es el primer reloj inteligente creado por la
            empresa Apple, presentado el 9 de septiembre de 2014 por Tim Cook.​ El reloj estuvo disponible para preventa
            el 10 de abril de 2015 y para venta el 24 de abril de 2015 en Estados Unidos, Japón, Canadá y otros países.
            En España, México y otros cinco países su disponibilidad comenzó el 26 de junio. Fue reemplazado por el
            Apple Watch Series 1, Series 2, y otros que le siguieron anualmente; en 2023, Apple lanzó al mercado el
            Series 9 y el Ultra 2.</p>
          <br>
          <p>El reloj posee una corona digital que, aparte de cumplir una función estética funciona para la respuesta
            háptica. Debido al pequeño tamaño de la pantalla es poco práctico usar los gestos del resto de los
            dispositivos con pantallas táctiles de Apple. El dispositivo cuenta con una pantalla de retina especial y
            flexible, con una protección diferente para cada clase de reloj, que es capaz de detectar la presión
            ejercida sobre la misma; por lo tanto, capta la diferencia entre pulsación y presión. A esta tecnología
            Apple la ha denominado "Force Touch", la cual, tiempo más tarde, pasó a llamarse "3D Touch", debido a
            problemas de derechos de autor con Android.

            La tercera generación del Apple watch cuenta con GPS y la conexión con el móvil se hace mediante Bluetooth
            4.0 desde la primera versión.</p>

          <br>

          <div class="raiting">
            <h3>Valoración</h3>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>

          <article class="detail">
            <h3>Precio: </h3>
            <p>L. 10,000.00</p>
          </article>

          <article class="detail">
            <h3>Marca: </h3>
            <p>Apple</p>
          </article>

          <article class="detail">
            <h3>Estado: </h3>
            <p>Usado</p>
          </article>

        </section>

        <footer id="footer">
          <div class="item">
            <span>&copy; 2024 Jose Arias</span>
          </div>
          <div class="item">
            <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
          </div>
          <div class="item">
            <a href="../../collaborators.html" class="d-flex justify-content-center">
              <span class="material-symbols-outlined">
                groups_2
              </span>&nbsp;
              Colaboradores </a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="d-flex justify-content-center">
              <span class="material-symbols-outlined">
                arrow_upward
              </span>
              Subir</a>
          </div>
        </footer>

      </div>
    </div>
  </div>
</body>

</html>