<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>Ofertas y más</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

  <div id="wrapper">

    <div id="main">
      <div class="inner">

        <header id="header">
          <a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
          <ul class="icons">
            <li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
            <li><a href="../../contact.html"><span>Contacto</span></a></li>
            <li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
            <li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
          </ul>
        </header>

        <section>
          <header class="main">
            <h1>Keneth Cole Reaction</h1>
          </header>

          <img src="" alt="" class="image-main">

          <hr class="major" />

          <header class="major">
            <h2>Reloj Keneth Cole Reaction para Hombres</h2>
          </header>
          <p>El reloj Keneth Cole Reaction que combina elegancia, precisión y artesanía excepcional.</p>
          <br>
          <p>Creada por el diseñador de origen Judío Kenneth Cole en 1982. Kenneth nació en Brooklyn, Nueva York en el
            seno de una familia de fabricantes de zapatos, de aquí sus precedentes en el sector de la moda y
            complementos. Estudio y se graduó en el College of Arts. de Emory University. Pero también tenemos que
            resaltar su faceta empresarial colaborando tempranamente en la empresa familiar y como activista en muchas
            causas humanitarias, lucha contra el Sida, AnFAR y muchas más. Su línea de relojes está marcada por su lugar
            de nacimiento, el estilo de la gran manzana es evidente.</p>
          <br>
          <p>Relojes con diseños urbanos, a la vanguardia de la moda, con un guiño retro, utilizando movimientos
            automáticos en muchos de sus modelos, en el resto movimientos japoneses. Los acabados los relojes Kenneth
            Cole son intachables, con una extraordinaria relación calidad/precio. Actualmente es una de las marcas más
            vendidas en USA. Sin duda una buena elección para todos los amantes de la relojería.</p>

          <br>

          <div class="raiting">
            <h3>Valoración</h3>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>

          <article class="detail">
            <h3>Precio: </h3>
            <p>L. 7,500.00</p>
          </article>

          <article class="detail">
            <h3>Marca: </h3>
            <p>Keneth Cole</p>
          </article>

          <article class="detail">
            <h3>Estado: </h3>
            <p>Nuevo</p>
          </article>

        </section>

        <footer id="footer">
          <div class="item">
            <span>&copy; 2024 Jose Arias</span>
          </div>
          <div class="item">
            <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
          </div>
          <div class="item">
            <a href="../../collaborators.html" class="d-flex justify-content-center">
              <span class="material-symbols-outlined">
                groups_2
              </span>&nbsp;
              Colaboradores </a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="d-flex justify-content-center">
              <span class="material-symbols-outlined">
                arrow_upward
              </span>
              Subir</a>
          </div>
        </footer>

      </div>
    </div>
  </div>
</body>

</html>