<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../..pagos-tarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Anillo de Compromiso Oro</h1>
					</header>

					<img src="../../images/rings/2019110295A.jpg" alt="reloj Fossil plateado" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Anillo de Compromiso Oro</h2>
					</header>
					<p>El anillo de compromiso de oro es un símbolo de amor eterno y compromiso1. Este anillo 
                        está hecho de oro, un metal naturalmente duro y muy duradero23. En su forma más pura, 
                        el oro es muy suave, por lo que se mezcla con otros metales como cobre, plata y zinc 
                        para aumentar su dureza y mejorar su tono23.El anillo de compromiso de oro es más que 
                        un simple anillo, es una obra maestra de la joyería. Cada anillo está diseñado con un 
                        enfoque en la calidad y la comodidad, lo que lo hace perfecto para cualquier ocasión1. 
                        Con un contenido de oro puro de casi el 60%, los anillos de compromiso de oro de 14K 
                        son hipoalergénicos, fáciles de mantener y complementan perfectamente los diamantes con 
                        grados de color más bajos4. Así que, si estás buscando un anillo que sea versátil, 
                        duradero y siempre a la moda, no busques más allá del anillo de compromiso de oro. 
                        Ya sea que estés planeando una propuesta romántica o buscando el regalo perfecto para tu 
                        aniversario, un anillo de compromiso de oro es la elección perfecta para ti. 
                        ¡Hazte con tu anillo de compromiso de oro hoy mismo
                    </p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 12,000</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Swarosky</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
     <div class="item">
      <span>&copy; 2024 Moises Elvir</span>
     </div>
     <div class="item">
      <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
     </div>
     <div class="item">
      <a href="../../collaborators.html" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        groups_2
       </span>&nbsp;
       Colaboradores </a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        arrow_upward
       </span>
       Subir</a>
     </div>
    </footer>

			</div>
		</div>
	</div>
</body>

</html>