<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Anillo de Compromiso de Zafiro para Mujer</h1>
					</header>

					<img src="../../images/rings/A_2020110066.jpg" alt="Anillo Zafiro Azul" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Anillo de Compromiso Zafiro</h2>
					</header>
						<p>El anillo 3.3 Quilates de Zafiro(Zafiro Central de 3 Quilates Calidad AAA+) es una obra maestra de la joyería que
						deslumbra con su elegancia y belleza atemporal. Con un deslumbrante zafiro de corte pera de 3 quilates como pieza
						central, rodeado por una fila de diamantes de alta calidad, este anillo emana un brillo deslumbrante y una sofisticación
						incomparable.
							<br><br>
						La calidad AAA+ del zafiro garantiza su excepcional claridad, color y brillo, convirtiéndolo en una joya verdaderamente
						preciosa y de herencia. El diseño clásico y refinado de la banda, junto con la artesanía meticulosa, hacen de este
						anillo una opción perfecta para una propuesta de compromiso o una declaración de amor eterno.
							<br><br>
						Ya sea que se use como un símbolo de compromiso o simplemente como una expresión de elegancia refinada, el anillo 3.3 Quilates de Zafiro(Zafiro Central de 3 Quilates Calidad AAA+) cautiva con su belleza intemporal y su calidad
						excepcional.
						</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L.20,000.00</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Houston Diamond District</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Francisco Paz</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>