#footer{
 display: flex;
 justify-content:space-between;
 align-items: center;
 padding: 20px;
 border-top: 5px solid #5C57B5;
 color: #5C57B5;
}

#footer .item{
 width: 100%;
 display: flex;
}

#footer .item:nth-child(2){
 justify-content: center;
}

#footer .item:nth-child(3){
 justify-content: end;
}

#footer a{
 font-weight: bold;
}