@import url(fontawesome-all.min.css);
@import url(nav.css);
/* fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

* {
 font-family: "Roboto Slab";
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 list-style: none;
}

body {
 display: flex;
 justify-content: center;
}

#wrapper {
 display: flex;
 width: 1000px;
}

#main {
 width: 100%;
}

#main .inner>section {
 padding: 30px 0;
 border-top: solid 2px rgba(210, 215, 217, 0.75);
}

header.major> :last-child {
 border-bottom: solid 3px #5C57B5;
 display: inline-block;
 margin: 0 0 2em 0;
 padding: 0 0.75em 0.5em 0;
}

/* Features */
.features {
 display: flex;
 flex-wrap: wrap;
}

.features article {
 align-items: center;
 margin: 10px;
 display: flex;
 position: relative;
 width: calc(50% - 3em);
}

.features article .icon {
 flex-grow: 0;
 flex-shrink: 0;
 display: block;
 position: relative;
 height: 10em;
 line-height: 10em;
 margin: 0 2em 0 0;
 text-align: center;
 width: 10em;
}

.features article .icon:before {
 color: #5C57B5;
 font-size: 2.75rem;
 position: relative;
 top: 0.05em;
}

.features article .icon:after {
 transform: rotate(45deg);
 border-radius: 0.25rem;
 border: solid 2px rgba(210, 215, 217, 0.75);
 content: '';
 display: block;
 height: 7em;
 left: 50%;
 margin: -3.5em 0 0 -3.5em;
 position: absolute;
 top: 50%;
 width: 7em;
}

.features article .content {
 flex-grow: 1;
 flex-shrink: 1;
 width: 100%;
}

.posts {
 display: grid;
 grid-template-columns: repeat(2, auto);
}

.posts article {
 flex-grow: 0;
 flex-shrink: 1;
 display: inline-block;
 position: relative;
 width: 400px;
 margin: 20px auto;
}

.posts article p {
 /* Necesario para Safari */
 overflow: hidden;
 -webkit-line-clamp: 3;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 text-overflow: ellipsis;
 max-height: 4em;
}

.posts article .image {
 display: block;
 margin-bottom: 30px;
}

.posts article .image img {
 width: 400px;
 height: 200px;
 object-fit: cover;
 border-radius: 10px;
}

a {
 color: #5C57B5;
 text-decoration: none;
}

.posts li {
 margin-top: 20px;
}

.posts li a {
 border: 1px solid #5C57B5;
 padding: 5px 10px;
}

.posts li a:hover {
 background-color: #5C57B5;
 color: #fff;
}

/* generic */

.image-main {
 width: 1000px;
 height: 400px;
 margin: 10px 0px;
 border-radius: 10px;
}

header.main {
 font-size: 2em;
}

hr.major {
 margin: 3em 0;
}

.raiting,
article.detail {
 display: flex;
 padding: 10px 0;
 align-items: center;
}

.raiting .star {
 clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
 width: 20px;
 height: 20px;
 background-color: #5C57B5;
 margin-left: 10px;
}

article.detail p {
 margin-left: 10px;
}