<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Pantalon Oxxforf Hombre</h1>
					</header>

					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfvquzfihztFhIZzORUo5jowOo1Vd5c8i89RoI0o5x2A&s" alt="reloj Fossil plateado" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Pantalon Oxxforf Hombre</h2>
					</header>
					<p>Los pantalones Oxxford son un ícono de la moda clásica y el estilo sofisticado. Cada par de 
                        pantalones Oxxford está diseñado con un enfoque en la calidad, la comodidad y la durabilidad1. 
                        Los pantalones Oxxford vienen en una variedad de estilos, desde pantalones de vestir hasta
                        pantalones casuales.Una característica destacada de los pantalones Oxxford es su construcción 
                        de alta calidad. Cada par de pantalones Oxxford está hecho con materiales de primera calidad, 
                        lo que garantiza un ajuste cómodo y una larga durabilidad1.Además, los pantalones Oxxford ofrecen 
                        un estilo inconfundible. Con detalles de construcción precisos y distintivos1, estos pantalones son 
                        un testimonio de la visión de Oxxford1.Así que, si estás buscando unos pantalones que sean versátiles, 
                        duraderos y siempre no busques más allá de los pantalones Oxxford. Ya sea que estés yendo a una 
                        reunión de negocios, a una cena formal o simplemente buscando los pantalones perfectos para tu 
                        atuendo clásico, unos pantalones Oxxford son la elección perfecta para ti. ¡Hazte con tus pantalones 
                        Oxxford hoy mismo
                    </p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 7,000</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Oxxforf</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
     <div class="item">
      <span>&copy; 2024 Moises Elvir</span>
     </div>
     <div class="item">
      <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
     </div>
     <div class="item">
      <a href="../../collaborators.html" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        groups_2
       </span>&nbsp;
       Colaboradores </a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        arrow_upward
       </span>
       Subir</a>
     </div>
    </footer>

			</div>
		</div>
	</div>
</body>

</html>