<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Pantalon Off White Hombre</h1>
					</header>

					<img src="https://images.stockx.com/images/OFF-WHITE-Basquiat-Low-Crotch-Denim-Jeans-Black-Multicolor.jpg?fit=fill&bg=FFFFFF&w=700&h=500&fm=webp&auto=compress&q=90&dpr=2&trim=color&updated_at=1623265314?height=78&width=78" alt="reloj Fossil plateado" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Pantalon Off White Hombre</h2>
					</header>
					<p>Los jeans Off-White son un ícono de la moda urbana y el estilo contemporáneo. 
                        Cada par de jeans Off-White está diseñado con un enfoque en la calidad, la comodidad y la 
                        durabilidad. Los jeans Off-White vienen en una variedad de estilos, desde jeans rectos 
                        hasta jeans ajustados y jeans de pierna ancha.Una característica destacada de los jeans 
                        Off-White es su construcción de alta calidad. Cada par de jeans Off-White está hecho con 
                        materiales de primera calidad, lo que garantiza un ajuste cómodo y una larga durabilidad.
                        Además, los jeans Off-White ofrecen un estilo inconfundible. Con aplicaciones de pintura 
                        y cinturones de cordón, estos jeans son un testimonio de la visión de Virgil Abloh.
                        Así que, si estás buscando unos jeans que sean versátiles, duraderos y siempre a la moda, 
                        no busques más allá de los jeans Off-White. Ya sea que estés yendo a un evento de moda, 
                        a una cena informal o simplemente buscando los jeans perfectos para tu atuendo urbano, 
                        unos jeans Off-White son la elección perfecta para ti. ¡Hazte con tus jeans Off-White 
                        hoy mismo
                    </p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 7,000</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Off White</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
     <div class="item">
      <span>&copy; 2024 Moises Elvir</span>
     </div>
     <div class="item">
      <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
     </div>
     <div class="item">
      <a href="../../collaborators.html" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        groups_2
       </span>&nbsp;
       Colaboradores </a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        arrow_upward
       </span>
       Subir</a>
     </div>
    </footer>

			</div>
		</div>
	</div>
</body>

</html>