<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet"  href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">
				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
					</ul>
				</header>
				
				<section>
					<header class="major">
						<h2>Jeans</h2>
					</header>
					<div class="posts">
						<article>
							<a href="./2019110295.html" class="image"><img src="https://images.stockx.com/images/OFF-WHITE-Basquiat-Low-Crotch-Denim-Jeans-Black-Multicolor.jpg?fit=fill&bg=FFFFFF&w=700&h=500&fm=webp&auto=compress&q=90&dpr=2&trim=color&updated_at=1623265314?height=78&width=78" alt="reloj Fossil plateado" class="image-main">
							</a>
							<h3>Jeans Off White</h3>
							<p>Los jeans Off-White son un ícono de la moda urbana y el estilo contemporáneo. 
                                Cada par de jeans Off-White está diseñado con un enfoque en la calidad, la comodidad y la 
                                durabilidad. Los jeans Off-White vienen en una variedad de estilos, desde jeans rectos 
                                hasta jeans ajustados y jeans de pierna ancha.Una característica destacada de los jeans 
                                Off-White es su construcción de alta calidad. Cada par de jeans Off-White está hecho con 
                                materiales de primera calidad, lo que garantiza un ajuste cómodo y una larga durabilidad.
                                Además, los jeans Off-White ofrecen un estilo inconfundible. Con aplicaciones de pintura 
                                y cinturones de cordón, estos jeans son un testimonio de la visión de Virgil Abloh.
                                Así que, si estás buscando unos jeans que sean versátiles, duraderos y siempre a la moda, 
                                no busques más allá de los jeans Off-White. Ya sea que estés yendo a un evento de moda, 
                                a una cena informal o simplemente buscando los jeans perfectos para tu atuendo urbano, 
                                unos jeans Off-White son la elección perfecta para ti. ¡Hazte con tus jeans Off-White 
                                hoy mismo
                                </p>
							<ul class="actions">
								<li><a href="./2019110295.html" class="button">Más</a></li>
							</ul>
						</article>
						<article>
							<a href="./2019110295_2.html" class="image"><img src="https://resources.sears.com.mx/medios-plazavip-sears/fotos/productos_sears1/original/3887595.jpg" alt="" /></a>
							<h3>Pantalon Oxford para Hombre</h3>
							<p>Los pantalones Oxxford son un ícono de la moda clásica y el estilo sofisticado. Cada par de 
                                pantalones Oxxford está diseñado con un enfoque en la calidad, la comodidad y la durabilidad1. 
                                Los pantalones Oxxford vienen en una variedad de estilos, desde pantalones de vestir hasta
                                pantalones casuales.Una característica destacada de los pantalones Oxxford es su construcción 
                                de alta calidad. Cada par de pantalones Oxxford está hecho con materiales de primera calidad, 
                                lo que garantiza un ajuste cómodo y una larga durabilidad1.Además, los pantalones Oxxford ofrecen 
                                un estilo inconfundible. Con detalles de construcción precisos y distintivos1, estos pantalones son 
                                un testimonio de la visión de Oxxford1.Así que, si estás buscando unos pantalones que sean versátiles, 
                                duraderos y siempre no busques más allá de los pantalones Oxxford. Ya sea que estés yendo a una 
                                reunión de negocios, a una cena formal o simplemente buscando los pantalones perfectos para tu 
                                atuendo clásico, unos pantalones Oxxford son la elección perfecta para ti. ¡Hazte con tus pantalones 
                                Oxxford hoy mismo	</p>
								<ul class="actions">
								<li><a href="./2019110295_2.html" class="button">Más</a></li>
							</ul>
						</article>

						<!-- <article>
							<a href="generic.html" class="image"><img src="../../images/pic03.jpg" alt="" /></a>
							<h3>Tempus ullamcorper</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
								facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">Más</a></li>
							</ul>
						</article>
						<article>
							<a href="generic.html" class="image"><img src="../../images/pic04.jpg" alt="" /></a>
							<h3>Sed etiam facilis</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
								facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">Más</a></li>
							</ul>
						</article>
						<article>
							<a href="generic.html" class="image"><img src="../../images/pic05.jpg" alt="" /></a>
							<h3>Feugiat lorem aenean</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
								facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">Más</a></li>
							</ul>
						</article>
						<article>
							<a href="generic.html" class="image"><img src="../../images/pic06.jpg" alt="" /></a>
							<h3>Amet varius aliquam</h3>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
								facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
							<ul class="actions">
								<li><a href="#" class="button">Más</a></li>
							</ul>
						</article> -->
					</div>
				</section>


				<footer id="footer">
     <div class="item">
      <span>&copy; 2024 Moises Elvir</span>
     </div>
     <div class="item">
      <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
     </div>
     <div class="item">
      <a href="../../collaborators.html" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        groups_2
       </span>&nbsp;
       Colaboradores </a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        arrow_upward
       </span>
       Subir</a>
     </div>
    </footer>

			</div>
		</div>

	</div>
  </body>
</body>

</html>