<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
                        <li><a href="../..pagos-tarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Camisa Calvin Klein para mujer</h1>
					</header>

					<img src="c:\Users\DELL\Documents\GitHub\proyecto-clase-web-1'\images\shirts\2019120120-.jpg" alt="Camisa Calvin Klein para mujer" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Camisa Calvin Klein para mujer</h2>
					</header>
					<p>La camisa Calvin Klein para mujer es una prenda icónica que combina elegancia y estilo. Confeccionada con los mejores materiales y un diseño sofisticado, esta camisa es perfecta para destacar en cualquier ocasión.
						<br><br>
						El corte ajustado y los detalles de calidad hacen que esta camisa sea ideal para reuniones formales, salidas casuales o incluso eventos especiales. La marca Calvin Klein garantiza no solo moda, sino también confort y durabilidad.
						<br><br>
						Disponible en una variedad de colores clásicos y modernos, esta camisa te permite expresar tu estilo personal de manera única. Combínala con pantalones formales para un look elegante o con jeans para un estilo más relajado y casual.
						<br><br>
						La camisa Calvin Klein para mujer es una pieza esencial en cualquier guardarropa, agregando un toque de sofisticación y estilo atemporal a tus outfits diarios.
					</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 300</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Calvin Klein</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Katerine Solano</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>