<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Polo Tommy Hilfiger Para Hombree</h1>
					</header>

					<img src="../../images/shirts/2019110295S.jpg" alt="reloj Fossil plateado" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Polo Tommy Hilfiger Para Hombre</h2>
					</header>
					<p>Las camisas Tommy Hilfiger son la personificación de la elegancia casual y el estilo sofisticado.
                        Cada camisa está diseñada con un enfoque en la calidad y la comodidad, lo que las hace perfectas
                        para cualquier ocasión1. Las camisas Tommy Hilfiger vienen en una variedad de estilos, desde 
                        camisas de vestir hasta camisas Oxford y camisas de manga corta1. Están disponibles en una 
                        variedad de colores sólidos y patrones atractivos1. Además, están hechas de telas ligeras, 
                        transpirables y elásticas1, lo que las hace increíblemente cómodas de llevar.Una característica 
                        destacada de las camisas Tommy Hilfiger es la tecnología TH Flex2. Las camisas TH Flex están
                        infundidas con un estiramiento de 4 vías para brindar comodidad adicional y movimiento2.
                        Así que, si estás buscando una camisa que sea versátil, duradera y siempre a la moda, no 
                        busques más allá de las camisas Tommy Hilfiger. Ya sea que estés yendo a la oficina, a una 
                        cena informal o a un evento especial, una camisa Tommy Hilfiger es la elección perfecta para ti. 
                        ¡Hazte con tu camisa Tommy Hilfiger hoy mismo
                    </p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 2,000</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Tommy Hilfiger</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
     <div class="item">
      <span>&copy; 2024 Moises Elvir</span>
     </div>
     <div class="item">
      <img src="../../images/favicon.svg" width="50" height="50" alt="icon">
     </div>
     <div class="item">
      <a href="collaborators.html" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        groups_2
       </span>&nbsp;
       Colaboradores </a>&nbsp;&nbsp;&nbsp;
      <a href="#" class="d-flex justify-content-center">
       <span class="material-symbols-outlined">
        arrow_upward
       </span>
       Subir</a>
     </div>
    </footer>

			</div>
		</div>
	</div>
</body>

</html>