<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Camisa Polo para hombre</h1>
					</header>

					<img src="../../images/shirts/2020110066_A.jpg" alt="Camisa de tela azul" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Camisa de Tela para Hombres Brooks Brothers</h2>
					</header>
						<p>La camisa Brooks Brothers Stretch Performance Series, es una pieza emblemática que fusiona elegancia
						clásica y funcionalidad moderna. Confeccionada con una mezcla de algodón de alta calidad y elastano, esta camisa no solo
						ofrece un ajuste excepcionalmente cómodo, sino que también proporciona una flexibilidad única que acompaña los
						movimientos del cuerpo con naturalidad.
							<br><br>
						Su diseño a cuadros agrega un toque de estilo atemporal, ideal para múltiples ocasiones, ya sea en el entorno laboral o
						en momentos de ocio. Además, esta camisa está diseñada como parte de la serie Performance de Brooks Brothers, lo que
						significa que está diseñada para resistir el ajetreo diario con facilidad.
							<br><br>
						Una de las características más destacadas de esta camisa es su capacidad para mantener la frescura y la transpirabilidad
						durante todo el día. Esto se debe a su tejido innovador que permite una excelente circulación del aire, manteniéndote
						fresco y cómodo en climas cálidos.
							<br><br>
						Otro punto a destacar es su resistencia a las arrugas, lo que la convierte en una opción conveniente para los viajeros o
						aquellos con un estilo de vida activo. Ya sea que estés en la oficina, en una reunión importante o disfrutando de un fin
						de semana relajado, la camisa Brooks Brothers Stretch Performance Series, Check Sport Shirt te brindará el equilibrio
						perfecto entre estilo impecable y comodidad sin esfuerzo.</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 900</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Brooks Brothers</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Nuevo</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Francisco Paz</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>