<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Ofertas y más</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="shortcut icon" href="../../images/favicon.svg" type="image/x-icon">
</head>

<body>

	<div id="wrapper">

		<div id="main">
			<div class="inner">

				<header id="header">
					<a href="../../index.html" class="logo"><strong>Ofertas</strong> y más</a>
					<ul class="icons">
						<li><a href="../../about.html"><span>Sobre Nosotros</span></a></li>
						<li><a href="../../contact.html"><span>Contacto</span></a></li>
						<li><a href="../../index.html#productosyservicios"><span>Productos y Servicios</span></a></li>
						<li><a href="../../brands.html"><span>Nuestras Marcas</span></a></li>
						<li><a href="../../pagocontarjeta.html"><span>Pagos con Tarjeta</span></a></li>
					</ul>
					</ul>
				</header>

				<section>
					<header class="main">
						<h1>Camisa Polo para hombre</h1>
					</header>

					<img src="../../images/shirts/2021220030.jpeg" alt="reloj Fossil plateado" class="image-main">

					<hr class="major" />

					<header class="major">
						<h2>Camisa Polo para hombre</h2>
					</header>
					<p>La camiseta polo azul de cuello en V es una prenda versátil y elegante que combina comodidad y
						estilo en igual medida. Confeccionada en un suave tejido de algodón, esta camiseta ofrece una
						sensación de frescura y suavidad al contacto con la piel, ideal para cualquier ocasión, ya sea
						casual o semi-formal.
							<br><br>
						Su diseño clásico presenta un cuello en forma de V que añade un toque de sofisticación y permite
						lucir el escote de manera sutil y favorecedora. Este detalle le otorga un aspecto más refinado
						en comparación con las camisetas polo de cuello redondo, lo que la convierte en una opción
						perfecta para momentos en los que se busca un estilo más pulido sin sacrificar la comodidad.
							<br><br>
						El color azul, en particular, aporta un toque de frescura y serenidad a la prenda, lo que la
						hace ideal para lucir durante los días cálidos de primavera y verano. Además, el tono azul es
						fácil de combinar con una amplia variedad de prendas y accesorios, lo que brinda infinitas
						posibilidades para crear conjuntos únicos y estilosos.
							<br><br>
						Ya sea para una salida informal con amigos, una tarde de paseo por la ciudad o incluso para
						ocasiones más formales cuando se combina con pantalones chinos o incluso un blazer, esta
						camiseta polo azul de cuello en V se convertirá en un básico imprescindible en cualquier
						guardarropa masculino. Su estilo atemporal y su calidad duradera la hacen una elección
						inteligente para aquellos que valoran tanto la moda como la funcionalidad en su vestimenta
						diaria.</p>

					<br>

					<div class="raiting">
						<h3>Valoración</h3>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>

					<article class="detail">
						<h3>Precio: </h3>
						<p>L. 100</p>
					</article>

					<article class="detail">
						<h3>Marca: </h3>
						<p>Polo</p>
					</article>

					<article class="detail">
						<h3>Estado: </h3>
						<p>Usado</p>
					</article>

				</section>

				<footer id="footer">
					<div class="item">
						<span>&copy; 2024 Alejandro Díaz</span>
					</div>
					<div class="item">
						<img src="../../images/favicon.svg" width="50" height="50" alt="icon">
					</div>
					<div class="item">
						<a href="../../collaborators.html" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								groups_2
							</span>&nbsp;
							Colaboradores </a>&nbsp;&nbsp;&nbsp;
						<a href="#" class="d-flex justify-content-center">
							<span class="material-symbols-outlined">
								arrow_upward
							</span>
							Subir</a>
					</div>
				</footer>

			</div>
		</div>
	</div>
</body>

</html>